*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
display: flex;
background-color: beige;
flex-direction: column;
justify-content: center;
align-items: center;
height: 920px;
}

h1 {
font-size: 2.5em;
} 

span {
    font-size: 10em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}

.decrease, .increase, .rest {
  font-size: 1.9em;
  padding: 20px;
  border-radius: .3em;
  color: black;
  font-weight: 100;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:slateblue;
  opacity: .9;
}